
=form_with scope: :session, url: "/sessions", local: true, id: :global do |form|
  .field.for-data.group
    %label Username
    =form.text_field :username, id: :username, placeholder: 'enter your username'
  .field.for-data.group
    %label Password
    =form.password_field :password, id: :password, placeholder: 'enter your password'
  .field.group
    %span.actions
      =form.submit "Log in"

  -# User management links
  .field.group.user-management-links
    =link_to new_reset_password_path, class: "forgot-password" do
      %i.fa.fa-asterisk
      Forgot password?
    =link_to new_user_path, class: "new-user" do
      %i.fa.fa-asterisk
      Don't have an account?