#user
  %section.user-form
    .title
      %h6 Signin To Your Account
    .body
      =render "login_form", session: :session
    .services-divider
      .bar
      .service-title Use external service
    .external-services
      .services
        = link_to "/auth/google_oauth2", class: "signup google" do
          %i.fa.fa-google
        = link_to "/auth/github", class: "signup github" do
          %i.fa.fa-github
