<div class="super-box" id="category-headline">
  <h1 class="white-text">Ideas</h1>
</div>

<button class="create-idea-button blue">Create Idea</button>

<section class="super-box group" id="ideas-gallery">

  <h5>Discover open source projects and Ideas that connects with you</h5>
  <p id="notice"><%= notice %></p>

  <div class="box ideas-wrapper">

    <!-- First Card -->
    <% @ideas.each do |idea| %>
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h6 class="mdl-card__title-text truncate"><i class="fa fa-puzzle-piece"></i>&nbsp;<%= link_to idea.name ,idea %></h6>
      </div>
      <div class="mdl-card__supporting-text">
        <%= idea.description %>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="idea-icons">
          <i class="fa fa-eye"></i>&nbsp;<%= idea.view_histories.size %>
        </a>
        <a class="idea-icons">
          <i class="fa fa-heart"></i>&nbsp;0
        </a>
        <a class="idea-icons">
          <i class="fa fa-comment"></i>&nbsp;0
        </a>
      </div>
    </div>
    <% end %>

  </div>

  
</section>
