<p id="notice"><%= notice %></p>

<h1>View History</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>IP</th>
    </tr>
  </thead>

  <tbody>
    <% @views.each do |view| %>
      <tr>
        <td><%= view.time_viewed %></td>
        <td><%= view.viewer_ip %></td>
      </tr>
    <% end %>
  </tbody>
</table>
