#user
  %section.user-form
    .title
      %h6 Send Email Confirmation
    .body
      =form_with scope: :email_confirmation, url: email_confirmations_path, local: true , id: :global do |form|
        .field.for-data.group
          %label Email
          =form.text_field :email, id: :email, placeholder: 'enter your email'
        .field.group
          %span.actions
            =form.submit "Send mail"
