<div class="super-box" id="landing">

<section class="headline">
  <h1 class="idea">Open Idea Station</h1>
  <h6>
    We’re now living in an <span class="emphasize">Idea Economy</span> where success is defined by the ability to turn ideas
    into value faster and more <span class="emphasize">collaboratively</span>.
  </h6>
  <%= link_to 'Get Started', new_idea_path, :class => "btn btn-large get-started-btn" %>
</section>
</div>
<section class="super-box" id="ois-features">
  <div class="box">
    <h1>Ideas For Our Time</h2>
    <h4>The World</h4>
  </div>
</section>