#user
  %section.user-form
    .title
      %h6 Create Your Account
    .body
      =render "signup_form", user: @user
    .services-divider
      .bar
      .service-title Use external service
    .external-services
      .services
        <a href="/auth/google_oauth2" class="signup google"><i class="fa fa-google"></i></a>
        <a href="/auth/github" class="signup github"><i class="fa fa-github"></i></a>
