// --------------------------------------------------------------
// This file contains all variable declarations, if any.
// --------------------------------------------------------------

// Colors
$primary-color: #4CAF50;
$primary-color-hover: #388E3C;
$offset-color: #1A237E;
$offset-color-hover: #303F9F;
$white: #FFF;
$primary-black: #212121;
$primary-black2: #424242;
$primary-black3: #757575;
$primary-black4: #9E9E9E;
$primary-background: #f4f4f4;
$acorn-red: #D50000;
$margin: 15px;

// Margin
$main-margin: 15px;

// Break point
$break-point-smobile: 320px;
$break-point-medium-mobile: 400px;
$break-point-mobile: 480px;
$break-point-tablet: 768px;
$break-point-large-tablet: 839px;
$break-point-desktop: 1076px;
$break-point-large: 1500px;

// Background
.bgd-transparent {
  background: rgba(0,0,0, .50) !important;
}

.bgd-brand {
  background: $primary-color !important;
}

// Dropdown
$dropdown-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.12);

// Profile
$profile-box-shadow: rgba(0, 0, 0, 0.03);

$shadow-opacity1: 0.2 !default;
$shadow-opacity2: 0.14 !default;
$shadow-opacity3: 0.12 !default;

.with-shadow {
  box-shadow: 0 2px 2px 0 rgba(150, 150, 150, $shadow-opacity1),
              0 3px 1px -2px rgba(150, 150, 150, $shadow-opacity2),
              0 1px 5px 0 rgba(150, 150, 150, $shadow-opacity3);
}
