// --------------------------------------------------------------
// This file contains all variable declarations, if any.
// --------------------------------------------------------------

// Colors
$primary-color: #4CAF50;
$offset-color: #7A1EA1;
$primary-color-hover: #388E3C;
$white: #FFF;
$primary-black: #212121;
$primary-black2: #424242;
$primary-black3: #757575;
$primary-black4: #9E9E9E;
$primary-black5: #eee;
$margin: 15px;

// Margin
$main-margin: 15px;

// Break point
$break-point-smobile: 320px;
$break-point-medium-mobile: 400px;
$break-point-mobile: 480px;
$break-point-tablet: 768px;
$break-point-large-tablet: 839px;
$break-point-desktop: 1076px;
$break-point-large: 1500px;


// Font family
$font-family1: Rubik;

// Dropdown
$dropdown-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.12);

// Profile
$profile-box-shadow: rgba(0, 0, 0, 0.03);
