@import 'base';

.flash-container {
  height: 32px;
  width: 100%;
  text-align: center;
  z-index: 30000;
  position: absolute;
  top: 0;
}
.alert {
  box-shadow: $dropdown-shadow;
  font-size: 14px;
  display: inline-block;
  padding: 7px 14px;
  border: 1px solid $box-shadow;
  border-radius: 2px;
  color: $primary-black;
}
.alert-error {
  background: $acorn-red;
}
.alert-success {
  background: $acorn-green;
}
.alert-notice {
  background: $acorn-blue;
}
.alert-warning {
  background: $acorn-amber;
}