@import 'base';

.register-btn {
  background: linear-gradient($primary-color, $primary-color-hover) !important;
  color: $white !important;
  font-weight: bold;
  font-size: 12px !important;
  text-transform: uppercase !important;
  text-shadow: 0 0 2px $primary-black2;
  letter-spacing: 0.1em;
  border: 1px solid $primary-color-hover;
  &:hover, &:focus {
    background: linear-gradient($primary-color-hover, $primary-color) !important;
    border: 1px solid $primary-color-hover;
  }
}

.btn, .btn-large {
  font-weight: 900 !important;
}
.get-started-btn {
  background: linear-gradient($primary-color, $primary-color-hover) !important;
  border-radius: 5px !important;
  border: 1px solid $primary-color-hover !important;
  color: $white !important;
  font-weight: 900 !important;
  font-size: 1.8rem !important;
  width: 200px;
  margin: 40px 0;
  &:hover, &:focus {
    background: linear-gradient($primary-color-hover) !important;
    color: $white !important;
  }
}