
@import 'base';

.ideas-wrapper {
  .mdl-card {
    width: auto !important;
    height: 24rem;
    z-index: 0 !important;
    &:hover {
      background: #fafbfc;
    }
  }
  .mdl-card__title {
    align-items: center;
    display: flex;
    padding: 5px 10px;
    height: 15%;
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary-black;
    h6 {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
  .mdl-card__supporting-text {
    height: 75%;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    text-align: left;
    padding: 10px 10px;
    overflow: wrap;
    color: $primary-black4;
  }
  .mdl-card__actions {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    height: 10%;
    line-height: normal;
    width: 100%;
    padding: 2px 10px;
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: bold;
    .idea-icons {
      margin-left: 10px;
      color: $primary-black4;
      &:hover {
        color: $primary-black;
      }
    }
  }

  .mdl-card--expand {
    flex-grow: 1;
  }
}

