// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';

.comment-board {
  padding: 3rem 6rem;
  background: $primary-background2;
  text-align: left;
  h6 {
    font-size: 14px;
    font-weight: bold;
  }
  .comment-area {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    section {
      display: inline-block;
      vertical-align: top;
    }
    section.commenter-avatar {
      width: 40px;
      height: 40px;
      background: $primary-color;
      border-radius: 50%;
      margin-right: 10px;
    }
    section.commenter-avatar {
      width: 40px;
      height: 40px;
      background: $primary-color;
      border-radius: 50%;
      margin-right: 10px;
    }
    section.comment-detail {
      .commenter-name {
        font-weight: bold;
      }
    }
  }
  .comment-form {
    width: 80%;
    margin: 0 auto;
    textarea {
      padding: 10px;
      border-radius: 3px;
      resize: none;
      min-height: 100px;
      border: 1px solid transparent;
      background: $primary-background;
      &:focus {
        background: $white;
        border-color: $box-shadow;
      }
    }
    input[type=submit] {
      color: $white;
      background: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 3px;
      margin-top: 10px;
      font-size: 18px;
      &:focus {
        box-shadow: none;
      }
    }
  }
}