@import 'base';
@import 'index';

#confirmation-modal {
  display: none;
}

[aria-describedby="confirmation-modal"] {
  height: 240px !important;
  width: 400px !important;
  background: #fff !important;
  color: $primary-color;
  overflow: hidden !important;
  box-sizing: border-box;
  #confirmation-modal {
    height: 240px !important;
    width: 400px !important;
    background: #fff !important;
    overflow: hidden !important;
    padding: 20px 20px;
    .modal-top {
      .modal-header {
        height: 2rem !important;
      }
      .modal-content {
        font-size: 13px;
        padding: 23px;
        margin-top: 0;
        min-height: 178px;
        overflow-y: scroll;
        h6 {
          color: $primary-black3;
          font-weight: bold;
          font-size: 1.8rem;
        }
        .archive_btn {
          margin-top: 15px;
          border-color: $primary-black3;
          color: $primary-black3;
          &:hover {
            background: red;
            color: $white;
            border-color: red;
          }
        }
      }
    }
  }
}
