@import 'base';

.popover-rect {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 90;
  background-color: #fff;
  border-radius: 1px;
  border-top: 1px solid $profile-box-shadow;
  border-left: 1px solid $profile-box-shadow;
}

.top-right {
  top: -7.5px;
  right: 10px;
  transform: rotate(45deg);
}

.top-right-mobile {
  top: -7.5px;
  right: 52px;
  transform: rotate(45deg);
}

.top-left {
  top: -7.5px;
  left: 10px;
}
.top-center {
  top: -7.5px;
}
.bottom-right {
  bottom: -7.5px;
  right:3.2rem;
  transform: rotate(225deg);
}
.bottom-center {
  bottom: -7.5px;
  transform: rotate(225deg);
}

.notification-badge {
  position: relative;
  right: -12px;
  top: -50px;
  color: #000000;
  background-color: $acorn-amber;
  margin: 0 -.8em;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}

.notification-dropdown {
  right: 41px;

  .notification-body {
    height: 450px;

    .more-notifications {
      top: 465px;
    }
  }
}

.mobile-notification-dropdown {
  right: 4px;

  .notification-body {
    height: 450px;

    .more-notifications {
      top: 365px;
    }
  }
}

.notification-dropdown, .mobile-notification-dropdown {
  width: 300px;
  box-shadow: 0px 3px 10px grey !important;
  border: none !important;
  text-transform: capitalize !important;

  .notification-header {
    padding: 10px;
    border-bottom: 1px solid #dad5d5;
    width: 100%;

    p {
      font-weight: 1000;
    }
  }

  .notification-body {
    overflow: auto;

    .more-notifications {
      position: absolute;
      background-color: white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      right: 4px;
      box-shadow: 0px 0px 1px grey;

      i {
        line-height: 30px !important;
        height: 30px !important;
        font-size: 18px;
      }
    }

    .notification-item {
      padding: 13px 15px;
      background-color: #f5f5f5;
      border-bottom: 1px solid #dad5d5;
      cursor: pointer;

      &:hover {
        background-color: #e4e4e4;
      }
  
      img {
        width: 50px;
        border-radius: 50%;
        float: left;
      }
  
      .item-initials {
        width: 50px;
        height: 50px;
        background-color: white;
        display: block;
        border-radius: 50%;
        padding-top: 5px;
        float: left;
        text-align: center;
      }
  
      .item-content {
        display: inline-block;
        width: 70%;
        text-align: left;
  
        .notification-content {
          font-size: 13px !important;
        }
  
        .notification-time {
          text-align: left;
          font-size: 11px;
          color: gray;
        }
      }
    }
  }
}

.user-profile-dropdown, .notification-dropdown, .mobile-notification-dropdown {
  top: 50px;
  position: absolute;
  display: inline-block;
  margin: 0;
  z-index: 100;
  color: $primary-black;
  background-clip: padding-box;
  border: 1px solid $profile-box-shadow;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $dropdown-shadow;
}

.user-profile-dropdown {
  right: 0;
  max-width: 120px;

  li.profile-link, li.divider, li.user {
    width: 100%;
    min-height: 1px;
    a {
      text-align: left;
      color: $primary-black3;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: bold;
      &:hover {
        background-color: $primary-color;;
        color: $white; 
      }
    }
    .greeting {
      color: #000 !important;
      &:hover {
        background-color: $white !important;
      }
    }
  }
  li.divider {
    background-color: $profile-box-shadow;
  }
}

.idea-action-dropdown {
  @extend .user-profile-dropdown;
  left: 0;
  max-width: 300px;
  min-height: 100px;
  top: -120px;
  box-shadow: $dropdown-shadow-inverse;
  li.save-action {
    width: 100%;
    min-height: 20px;
    padding: 10px 20px;
    line-height: 2rem;
    text-align: left;
    a, input {
      display: inline-block;
      background: transparent !important;
      color: $primary-black4;
      border: 1px solid $profile-box-shadow;
      border-radius: 3px;
      transition: 0.2s ease-in-out;
      &:hover {
        background: $primary-color !important;
        color: $white !important;
        transition: 0.2s ease-in-out;
      }
    }
  }
}