@import 'base';

footer {
  display: flex;
  flex-direction: row;
  background: $white;
  min-height: 40px;
  padding: 5px 60px !important;
  border-top: 1px solid #eee !important;
}
.ois-footer-icon {
  height: 30px;
}
.copy-right {
  vertical-align: middle;
  p {
    color: $primary-black;
  }
}
footer li {
  display: inline-block;
}
.display-status {
  display: none;
}