footer {
  background: $very-light-green;
}
.footer {
  display: flex;
  flex-direction: row;
}
.org-section {
  display: flex;
  flex-direction: column;
  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    line-height: 30px;
    .ois-footer-icon {
      height: 30px;
    }
    p {
      color: $primary-black;
      font-family: $logo-font;
      font-size: 14px;
      margin: 0 1rem;
      padding-top: 1rem;
    }
  }
  p {
    color: $primary-black;
    margin: 0;
    text-align: left;
    line-height: 1.8rem;
    margin-top: 2rem;
  }
  p.copyright {
    font-size: 1.2rem;
  }
  p.our-focus {
    font-size: 1.4rem;
    width: 30rem;
  }
}
footer li {
  display: inline-block;
}
.display-status {
  display: none;
}