@import 'base';

footer {
  display: flex;
  flex-direction: row;
  background: $white;
  min-height: 40px;
  padding: 5px 60px !important;
  border-top: 1px solid #eee !important;
}
.copyright {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  .ois-footer-icon {
    height: 30px;
  }
  p {
    color: $primary-black4;
    font-weight: bold;
    font-size: 14px;
  }
}
footer li {
  display: inline-block;
}
.display-status {
  display: none;
}