@import 'base';

nav.main-nav {
  background: transparent;
  box-shadow: none;
  height: 80px;
  height: 8rem;
  vertical-align: middle;
  padding: 2.5rem 1.5rem;
}

nav.main-nav li a {
	font-family: $secondary-font;
	color: inherit;
  font-size: 1.6rem;
  margin-top: 8px;
	text-decoration: none;
	color: #757575;
}