@import 'base';

#page-tray {
  height: 14rem;
  color: $primary-black;
  background: $white;
  position: relative;
  border-bottom: 1px solid #eee;
}
.main-nav {
  margin-top: 0;
  box-shadow: none;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0 1rem;
  z-index: 10;
  position: fixed;
  background: $white;
  position: relative;
}

.nav-item {
  color: $primary-black3 !important;
  background: none;
  &:hover, &:focus {
    color: $primary-black !important;
  }
}
.auth-nav-item {
  @extend .nav-item;
}

.main-nav li.nav-item a, .register-btn {
  letter-spacing: 0.07em;
	color: inherit;
  font-size: 12px;
  font-weight: bold !important;
  height: 24px;
  line-height: 24px;
  margin-top: 8px;
  border-radius: 5px;
  &:hover, &:focus {
    background: $primary-background;
  }
}
.main-nav li.auth-nav-item a {
  letter-spacing: 0.07em;
	color: inherit;
  font-size: 20px;
  font-weight: bold !important;
  height: 40px;
  line-height: 40px;
  padding: 0 5px !important;
  margin: 0 10px;
  &:hover, &:focus {
    background: none !important;
  }
}
img.open-idea-station-logo {
  max-height: 8rem;
  max-width: 8rem;
  position: absolute;
  left: 1.5rem;
  top: 5rem;
  border-radius: 5px;
  background-image: image-url('OIS-ico.png');
}

nav.main-nav li a {
  i {
    height: 40px;
    line-height: 40px;
  }
}

.logout-btn {
  position: absolute;
  background: $offset-color2 !important;
  height: 30px !important;
  line-height: 30px !important;
  top: 44px;
  right: 0;
}
.hide-btn {
  display: none !important;
}

a.menu-pane {
  display: inline-block;
  width: 2rem;
  position: absolute;
  left: 0;
  top: 1rem;
  text-align: center;
  cursor: pointer;
  span {
    transition: all 0.5s ease-in-out;
    margin: 0 auto;
    display: block;
    height: 3px;
    width: 50%;
    background: $primary-black3;
    margin-bottom: 5px;
  }
  &:hover {
    span {
      background: $primary-black;
      &:nth-child(2) {
        width: 100%;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

a.current-user {
  background: $primary-black !important;
  margin-top: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: $white !important;
  font-weight: bold;
  font-size: 12px !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em;
  padding: 0 !important
}