@import 'base';

header#page-tray {
  height: 140px;
  color: $white;
  background: $primary-black;
}
nav.main-nav {
  margin-top: 0;
  box-shadow: none;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0 1rem;
  z-index: 10;
  position: fixed;
  background: #212121;
  border-bottom: 1px solid #424242;
}

.nav-item {
  height: 40px;
  line-height: 40px;
  color: $white !important;
  font-weight: bold;
  background: none;
  &:hover, &:focus {
    color: $white !important;
    background: linear-gradient($primary-color, $primary-color-hover) !important;
  }
}

nav.main-nav li a {
  font-family: $secondary-font;
  letter-spacing: 0.07em;
	color: inherit;
  font-size: 12px;
}