// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

#ideas-gallery-headline, #category-headline {
  color: $white;
  min-height: 46rem !important;
  background: $primary-black;
  padding-top: 12rem;
  padding-bottom: 10rem;
  h6 {
    color: $primary-black4;
  }
}
#ideas-gallery {
  background: $primary-background;
}

.ideas-wrapper {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 3rem;
  grid-auto-rows: 240px;
}

.create-idea-button {
  display: none;
}

#idea-page {
  padding-left: 10rem;
  padding-right: 10rem;
  .author-details {
    padding: 4rem 6rem;
    background: $primary-background2;
    text-align: left;
    section {
      display: inline-block;
      vertical-align: top;
    }
    section.author-avatar {
      text-align: center !important;
      display: inline-block;
      margin-right: 20px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      border-radius: 50%;
      color: $white;
      font-weight: bold;
      background: $primary-color;
    }
    section.name-details {
      h6 {
        font-weight: bold;
      }
      .idea-author-bio {
        font-size: 1.2rem;
      }
    }
  }
  .idea-details {
    padding: 4rem 6rem;
    background: $primary-background2;
    display: block;
    h3 {
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
  .action-details {
    @extend .author-details;
    display: block;
    padding: 3rem;
    .action-wrapper {
      border-bottom: 1px solid $profile-box-shadow;
    }
    .publication-status {
      span{
        font-size: 1.6rem;
        font-weight: bold;
        color: $primary-black3;
      }
    }
    .idea-actions {
      span{
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.6rem;
        font-weight: bold;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        transition: 0.2s ease-in-out;
        a {
          transition: 0.2s ease-in-out;
          &:hover {
            color: $primary-color;
            transition: 0.2s ease-in-out;
          }
        }
      }
    }
    p {
      font-size: 1.4rem;
    }
    div {
      padding-bottom: 1rem;
    }
    div ~ div {
      margin-top: 1rem;
    }
  }
}
.acorn_chip {
  display: inline-block;
  min-width: 4rem;
  max-width: 16rem;
  margin: .25rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: $primary-blue2;
  color: $white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
.green_chip {
  background: $primary-color !important;

}
.image-chip {
  display: inline-block;
  margin: .25rem;
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;

}
.ruby {
  background-image: image-url('Ruby.png');
}
.rails {
  background-image: image-url('Rails.png');
}
.javascript {
  background-image: image-url('JavaScript.png');
}
.exit-section {
  display: block !important;
  text-align: center !important;
  margin-top: 6rem;
}