// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

#ideas-gallery-headline, #category-headline {
  color: $white;
  min-height: 46rem !important;
  background: $primary-black;
  padding-top: 10rem;
  padding-bottom: 10rem;
  h6 {
    color: $primary-black4;
  }
}
#ideas-gallery {
  background: $primary-background;
}

.ideas-wrapper {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 3rem;
}

.create-idea-button {
  display: none;
}
