// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

#ideas-gallery {
  background: $primary-background;
}
.ideas-wrapper {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 1280px) {
  .ideas-wrapper {
    justify-content: center;
  }
}
#category-headline {
  height: 40rem !important;
  background: $primary-black;
}

.create-idea-button {
  display: none;
}
