@import 'base';

.landing {
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;  
  height: 84vh;
  overflow: scroll;
  justify-content: space-around;
  color: $primary-black;
}

.headline {
  h1 {
    font-size: 5.8rem;
    line-height: 6.4rem;
    letter-spacing: .05rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 400;
    color: $primary-black2;
    .emphasize {
      font-weight: bold;
    }
  }
}

.community {
  background-image: image-url('community.png');
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media only screen and (min-width: $break-point-ntablet) {
  .landing {
    flex-direction: row;
    height: 60vh;
    overflow: scroll;
    justify-content: space-around;
    align-items: center;
  }
  .headline {
    text-align: left;
  }
}

.get-started {
  background: $green;
  text-align: center;
  color: $white;
  padding-top: 2px;
  font-family: $logo-font;
  &:hover {
    background: $yellow;
    color: $primary-black;
  }
}

.copyright-text {
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: .05rem;
	word-spacing: .08rem;
}

#tune-in {
  background: $primary-black;
}
