@import 'base';

.acorn-modal.ui-dialog-content.ui-widget-content {
  
  .modal-content {
    margin-bottom: 1em;
    padding-left: 1em;
    min-height:10em;
    max-height: 16em;
    overflow-y: scroll;
  }

  .modal-top {
    padding: 0 3%;
    z-index: 12000;
    height: 400px;
  }

  .modal-content {
    height: 428px;
    overflow-y: auto;
    padding: 0 0 15px 0 !important;
    width: 100%;
  }

  .modal-bottom {
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    height: 3em;
    padding: 3px 0;
    background-color: $white;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.1);
  }

}