// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

#new-idea-page {
  background: $white;
  text-align: left;
  height: 96vh;
  form {
    position: relative;
    height: 83vh;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    overflow: hidden;
    input[type=text] {
      font-size: 3.2rem;
      margin: 0;
      padding: 1rem;
      border: none;
      text-align: left;
      box-shadow: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    textarea {
      display: block;
      height: 62vh;
      font-size: 1.8rem;
      line-height: 3rem;
      padding: 2rem 1rem;
      border: none;
      box-shadow: none;
      border-top: 1px solid $profile-box-shadow;
      resize: none;
      overflow: auto;
      &:focus {
        border-top-color: $primary-color;
      }
    }
  }
  .form-top {
    width: 80%;
    margin: 0 auto;
  }
  @media screen and (max-width: 767px) {
    .form-top {
      width: 100%;
    }
  }

  #idea_url {
    font-size: 1.8rem;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
  }
  .flex-wrapper > .name-section {
    flex: auto;
  }
  .flex-wrapper > .url-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    i {
      color: $primary-black4;
    }
  }
  .category-section {
    display: flex;
    position: absolute;
    width: 80%;
    padding: 3px;
    bottom: 0;
    left: 0;
    #category_name {
      font-size: 1.4rem;
      width: 234px;
      display: block;
    }
    small {
      font-size: 12px;
      font-weight: bold;
    }
    .enter-category-tags {}
    .category_tags {
      padding: 5px 0;
    }
  }
  .actions-section {
    position: absolute;
    bottom: 2rem;
    right: 0;
    min-width: 21rem;
    .publish-or-save {
      position: relative;
      min-width: 21rem;
      text-align: right;
    }
    .new-idea-action {
      display: inline-block;
      background: transparent;
      border: 1px solid $primary-color;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      color: $primary-color;
      width: 8rem;
      height: 8rem;
      line-height: 8rem;
      font-size: 2.4rem;
      text-align: center;
      &:hover, &:focus {
        background: $primary-color;
        color: $white;
        transition: 0.2s ease-in-out;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .actions-section {
      bottom: 10rem;
    }
  }
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  border-radius: 5px !important;
}
.ui-autocomplete {
  z-index: 1000;
  background: $white;
  margin: 2px 0 0 0;
  font-size: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 40%;
  min-height: 1%;
}

.ui-menu .ui-menu-item {
  padding: 5px 15px !important;
  list-style-image: none !important;
  background: none !important;
  font-size: 12px !important;
  color: $primary-black3 !important;

  &:hover, &:focus {
    color: $primary-black !important;
    font-size: 12px !important;
    padding: 5px 15px !important;
    cursor: pointer;
  }
}

.ui-menu .ui-menu-item:first-child {
  padding-top: 10px !important;
}

.ui-menu .ui-menu-item:last-child {
  padding-bottom: 10px !important;
}
.ui-helper-hidden-accessible {
  display: none !important;
}
.acorn_modified_chip {
  background: transparent !important;
  color: $primary-black4 !important;
  border-radius: .5rem !important;
  font-family: Muli, Roboto, Georgia !important;
  margin: 2.5px !important;
  border: 1px solid $profile-box-shadow !important;
  i {
    font-size: 14px;
    font-weight: bold;
  }
  .mdl-chip__text {
    margin-top: -3px;
  }
  .mdl-chip__action {
    margin-top: -5px;
    transition: 0.2s ease-in-out;
    &:hover, &:focus {
      color: $primary-color !important;
      background: transparent;
      transition: 0.2s ease-in-out;
    }
  }
}
