@import 'base';

#notification-wrapper {
  text-align: left;
  min-height: 1px;
  font-weight: 400 !important;

  h5 {
    margin-bottom: 2rem;
  }

  a.notification-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-height: 1px;
    max-height: 12.825rem !important;
    line-height: 12.825rem !important;
    justify-content: space-between;
    padding: 1.5rem !important;
    border-bottom: 1px solid $box-shadow-lighter;

    .notification-avatar {
      flex: 1;
      text-align: left !important;
      img {
        margin-top: 5.8rem;
        display: inline-block;
        height: 6rem;
        width: 6rem !important;
        border-radius: 50%;
        border: 1px solid $box-shadow-lighter;
      }
    }

    .status {
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }

    .notification-content {
      flex: 9;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: left;
      color: $primary-black3;

      span.notification-time {
        flex: 1;
        color: $primary-black;
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 400 !important;
        line-height: 1.6rem;
        padding-top: 0.4rem;
      }
      span.notification-body {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
        word-wrap: break-word;
        line-height: 2rem;
        color: $primary-black3;
        font-size: 1.6rem;
        font-weight: 400 !important;
        em {
          color: $primary-black !important;
          font-weight: 400 !important;
        }
      }
    }
  }
}

.status-read {
  background: transparent !important;
}
.status-unread {
  background: $yellow !important;
}
