@import 'base';
@import 'index';

.external-services {
  width: 30%;
  margin: 0 auto;
  .services {
    display: flex;
    margin-top: 2rem;
    .signup {
      flex: 1;
      color: $primary-black3;
      i {
        font-size: 24px;
      }
    }
    .facebook:hover {
      color: #3b5998;
    }
    .google:hover {
      color: #4285f4
    }
    .github:hover {
      color: #000;
    }
  }
}
.services-divider {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  display:flex;
  align-items: center;
  .bar {
    flex: 3;
    height: 1px;
    background: $box-shadow;
  }
  .service-title {
    flex: 1;
    color: $primary-black4;
  }
}
