@import 'base';
@import 'index';

#login-modal {
  display: none;
}

[aria-describedby="login-modal"] {
  height: 400px !important;
  width: 400px !important;
  background: #fff;
  overflow: hidden !important;
  box-sizing: border-box;
  #login-modal {
    padding: 20px 20px;
    .modal-top {
      .modal-header {
        height: 4rem !important;
      }
      .modal-content {
        font-size: 13px;
        padding: 23px;
        margin-top: 0;
        max-height: 400px;
        overflow-y: scroll;
        form {
          padding: 0 !important;
          label {
            color: $primary-color;
          }
          input {
            display: block;
            width: 100%;
            height: 40px;
            margin: 0 auto;
            font-weight: bold;
            margin-bottom: 20px;
            border: 1px solid #eee;
            border-radius: 2px;
            font-size: 14px;
            text-align: center;
            &:focus {
              border: 1px solid $primary-color;
              box-shadow: 0 0px 8px $primary-color;
            }
          }
          input[type=submit] {
            color: $white;
            background: $primary-color;
            border: 1px solid $primary-color;
            margin-top: 40px;
            font-size: 18px;
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

#signup-background {
  background: $white;
  color: $primary-black;
  height: 96vh;
  padding: 10rem;
  .signup-headline {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 30px;
    background-color: $white;
  }
  .signup-form {
    form {
      border: 1px solid $profile-box-shadow;
      border-radius: 5px;
      background: $primary-background2;
      width: 400px;
      padding: 20px 40px;
      min-height: 300px;
      label {
        color: $primary-black;
      }
      input {
        display: block;
        width: 100%;
        height: 40px;
        margin: 0 auto;
        font-weight: bold;
        margin-bottom: 20px;
        border: 1px solid $profile-box-shadow;
        background: $primary-background2;
        border-radius: 2px;
        font-size: 14px;
        text-align: center;
        &:focus {
          border: 1px solid $primary-color;
          box-shadow: 0 0px 8px $primary-color !important;
          background: $white;
        }
      }
      input[type=submit] {
        color: $white;
        background: $primary-color;
        border: 1px solid $primary-color;
        margin-top: 40px;
        font-size: 18px;
        transition: 0.2s ease-in-out;
        text-align: center;
        &:focus {
          box-shadow: none;
        }
        &:hover {
          background: $primary-color-hover;
          border: 1px solid $primary-color-hover;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}
.you {
  border-color: $primary-black !important;
  color: $primary-black !important;
  padding: 14px;
  border-radius: 50px;
}
.create-account {
  margin-top: 30px;
}
