<header id="page-tray">
    <div class="navbar">
      <nav class="main-nav">
        <div class="nav-wrapper">
          <a href="#" class="menu-pane">
            <span></span>
            <span></span>
            <span></span>
          </a>
          
          <ul class="right app-menu">
            <li class="auth-nav-item"><a href="/"><i class="material-icons">home</i></a></li>
            <li class="auth-nav-item"><a href="/ideas"><i class="material-icons">cloud_queue</i></a></li>
            <li class="auth-nav-item"><a href="/ideas/new"><i class="material-icons">note_add</i></a></li>
            <li class="auth-nav-item"><a href="/notifications"><i class="material-icons">notifications_none</i></a></li>
            <li>
              <a class="current-user"><%= current_user[:username][0,2] %></a>
              <ul class="user-profile-dropdown">
                <span class="popover-rect"></span>
                <li class="user">
                  <a class="greeting">
                    Hi <%= current_user[:username] %>
                  </a>
                </li>
                <li class="profile-link">
                  <a class="my-profile-link" href="/profile">
                    Your Profile
                  </a>
                </li>
                <li class="profile-link">
                  <a class="my-ideas-link" href="/my-ideas">
                    Your Ideas
                  </a>
                </li>
                <li class="divider"></li>
                <li class="profile-link">
                  <a class="logout-link" href="/logout">
                    Log Out
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>