<header id="page-tray">
    <div class="navbar">
      <nav class="main-nav">
        <div class="nav-wrapper">
          <a href="#" class="menu-pane">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <a href="/"><%= image_tag("OIS-ico.png", :class => 'open-idea-station-logo') %></a>
          
          <ul class="right app-menu">
            <li class="auth-nav-item"><a href="/notifications"><i class="material-icons">notifications_none</i></a></li>
            <li class="auth-nav-item"><a href="/ideas"><i class="material-icons">cloud_queue</i></a></li>
            <li class="auth-nav-item"><a href="/ideas/new"><i class="material-icons">subject</i></a></li>
            <li>
              <a class="current-user"><%= current_user[:username][0,2] %></a>
            </li>
            <a class="btn logout-btn hide-btn" href="/logout">Logout</a>
          </ul>
        </div>
      </nav>
    </div>
  </header>