<footer class="display-status">
  <div class="copyright">
    <div class="acorn-logo-main logo-grey ois-footer-icon">
      <span class="open"></span>
      <span class="idea"></span>
      <span class="station"></span>
    </div>
    <p class="copyright-text">&copy;2018 Open Idea Station</p>
  </div>
</footer>