%footer
  .super-box
    .box.footer
      .org-section
        .copyright
          .acorn-logo-main.logo-grey.ois-footer-icon
            %span.open
            %span.idea
            %span.station
          %p Open Idea Station
        %p.our-focus Learn from great ideas and get inspired by the thought process behind them.
        %p.copyright-text &copy;2018 Open Idea Station