<footer class="display-status">
  <div class="copyright">
    <%= image_tag("OIS-ico.png", :class => 'ois-footer-icon') %>
    <p class="copyright-text">&copy;2018 Open Idea Station</p>
  </div>
</footer>