<header id="page-tray">
  <div class="navbar">
    <nav class="main-nav">
      <div class="nav-wrapper">
        <div class="menu-pane">
          <span class="open-bar"></span>
          <span class="open-bar"></span>
          <span class="open-bar"></span>
        </div>
        <div class="acorn-logo-main ois-header-icon hide-on-large">
          <span class="open"></span>
          <span class="idea"></span>
          <span class="station"></span>
        </div>
        <ul class="right app-menu hide-on-small">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/ideas">Ideas</a></li>
          <li class="nav-item"><a class="nav-item login-user">Login</a></li>
          <li>
            <a href="/users/new" class="register-btn">Signup</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>