<header id="page-tray">
  <div class="navbar">
    <nav class="main-nav">
      <div class="nav-wrapper">
        <a href="#" class="menu-pane">
          <span></span>
          <span></span>
          <span></span>
        </a>
        
        <ul class="right app-menu">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/ideas">Ideas</a></li>
          <li class="nav-item"><a class="nav-item login-user">Login</a></li>
          <li>
            <a href="/signup" class="register-btn">Signup</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>