-# Add a NotificationPresenter
%ul.notification-dropdown.hidden
  %span.popover-rect.top-right2
  %li.notification-header
    =link_to "Notifications", notifications_path

  %li.divider

  %li.notification-list
    =link_to "", class: "notification-item" do
      %span.notification-avatar=image_tag('dummy-profile-male.jpg')
      %span.notification-content
        %span.notification-body
          %em Samson Jared
          liked your idea
        %span.notification-time 10 minutes ago
  %li.notification-footer
    =link_to "View more", "javascript:;"