-# Add a NotificationPresenter
%ul.notification-dropdown.hidden
  %span.popover-rect.top-right2
  %li.notification-header
    =link_to "Recent notifications", "javascript:;"

  %li.divider

  %li.notification-list
    - recent_notifications.each do |notification|
      - present(notification) do |n|
        =link_to n.topic, class: "notification-item" do
          %span.notification-avatar=image_tag(n.picture)
          %span.notification-content
            %span.notification-body
              %em= n.actor
              = n.content
            %span.notification-time= n.time
          %span{class: "status status-#{n.status}"}

  %li.divider.footer-divider

  %li.notification-footer
    =link_to "View All", notifications_path