<div id="side-nav">
  <header id="page-tray side-nav-head">
    <div class="navbar">
      <nav class="main-nav">
        <div class="nav-wrapper">
          <div class="close-menu-pane">
            <span class="close-bar"></span>
            <span class="close-bar"></span>
            <span class="close-bar"></span>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <% unless logged_in? %>
    <section class="side-nav-body">
      <ul class="main_navigation">
        <li class="side-nav-item"><a href="/"><i class="fa fa-home"></i><span>Home</span></a></li>
        <li class="side-nav-item"><a href="/ideas"><i class="fa fa-folder-o"></i><span>Ideas</span></a></li>
        <li class="side-nav-item"><a class="nav-item login-user"><i class="fa fa-plug"></i><span>Log in</span></a></li>
        <li class="side-nav-item"><a href="/users/new"><i class="fa fa-power-off"></i><span>Sign up</span></a></li>
      </ul>
      <div class="visitors-section">
        Hello
      </div>
    </section>
  <% else %>
    <section class="side-nav-body">
      <ul class="main_navigation">
        <li class="side-nav-item"><a href="/"><i class="fa fa-home"></i><span>Home</span></a></li>
        <li class="side-nav-item"><a href="/ideas"><i class="fa fa-folder-o"></i><span>Ideas</span></a></li>
        <li class="side-nav-item"><a href="/ideas/new"><i class="fa fa-file-o"></i><span>New Idea</span></a></li>
        <li class="side-nav-item">
          <%= link_to session_path(current_user_session.id), method: :delete do %>
            <i class="fa fa-eject"></i><span>Logout</span>
          <% end %>
        </li>
      </ul>
      <div class="visitors-section">
        Hello
      </div>
    </section>
  <% end %>
  <section class="side-nav-footer">
    <div class="copyright">
      <div class="acorn-logo-main logo-synth ois-footer-icon">
        <span class="open"></span>
        <span class="idea"></span>
        <span class="station"></span>
      </div>
      <p class="copyright-text synth">&copy;2018 Open Idea Station</p>
    </div>
  </section>
</div>