<!--<div id="side-nav">
  <header id="page-tray side-nav-head">
    <div class="navbar">
      <nav class="main-nav">
        <div class="nav-wrapper">
          <div class="close-menu-pane">
            <span class="close-bar"></span>
            <span class="close-bar"></span>
            <span class="close-bar"></span>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <% unless logged_in? %>
    <section class="side-nav-body">
      <ul>
        <li class="side-nav-item"><a href="/"><i class="fa fa-home"></i><span>Home</span></a></li>
        <li class="side-nav-item"><a href="/ideas"><i class="fa fa-folder-o"></i><span>Ideas</span></a></li>
        <li class="side-nav-item"><a href="/ideas/new"><i class="fa fa-file-o"></i><span>Login</span></a></li>
        <li class="side-nav-item"><a href="/notifications"><i class="fa fa-bell-o"></i><span>Signup</span></a></li>
      </ul>
    </section>
  <% else %>
    <section class="side-nav-body">
      <ul class="navigation-section">
        <li class="side-nav-item"><a href="/"><i class="fa fa-home"></i><span>Home</span></a></li>
        <li class="side-nav-item"><a href="/ideas"><i class="fa fa-folder-o"></i><span>Ideas</span></a></li>
        <li class="side-nav-item"><a href="/ideas/new"><i class="fa fa-file-o"></i><span>New Idea</span></a></li>
        <li class="side-nav-item"><a href="/notifications"><i class="fa fa-bell-o"></i><span>Notifications</span></a></li>
      </ul>
    </section>
  <% end %>
  <section class="side-nav-footer">
    <div class="copyright">
      <%= image_tag("OIS-ico.png", :class => 'ois-footer-icon') %>
    </div>
  </section>
</div>-->